@font-face {
  font-family: 'Be Vietnam Pro';
  src: url('./../fonts/BeVietnamPro-Bold.eot');
  src: url('./../fonts/BeVietnamPro-Bold.eot?#iefix') format('embedded-opentype'),
      url('./../fonts/BeVietnamPro-Bold.woff2') format('woff2'),
      url('./../fonts/BeVietnamPro-Bold.woff') format('woff'),
      url('./../fonts/BeVietnamPro-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Be Vietnam Pro';
  src: url('./../fonts/BeVietnamPro-BlackItalic.eot');
  src: url('./../fonts/BeVietnamPro-BlackItalic.eot?#iefix') format('embedded-opentype'),
      url('./../fonts/BeVietnamPro-BlackItalic.woff2') format('woff2'),
      url('./../fonts/BeVietnamPro-BlackItalic.woff') format('woff'),
      url('./../fonts/BeVietnamPro-BlackItalic.ttf') format('truetype');
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Be Vietnam Pro';
  src: url('./../fonts/BeVietnamPro-Black.eot');
  src: url('./../fonts/BeVietnamPro-Black.eot?#iefix') format('embedded-opentype'),
      url('./../fonts/BeVietnamPro-Black.woff2') format('woff2'),
      url('./../fonts/BeVietnamPro-Black.woff') format('woff'),
      url('./../fonts/BeVietnamPro-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Be Vietnam Pro';
  src: url('./../fonts/BeVietnamPro-BoldItalic.eot');
  src: url('./../fonts/BeVietnamPro-BoldItalic.eot?#iefix') format('embedded-opentype'),
      url('./../fonts/BeVietnamPro-BoldItalic.woff2') format('woff2'),
      url('./../fonts/BeVietnamPro-BoldItalic.woff') format('woff'),
      url('./../fonts/BeVietnamPro-BoldItalic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Be Vietnam Pro';
  src: url('./../fonts/BeVietnamPro-ExtraBold.eot');
  src: url('./../fonts/BeVietnamPro-ExtraBold.eot?#iefix') format('embedded-opentype'),
      url('./../fonts/BeVietnamPro-ExtraBold.woff2') format('woff2'),
      url('./../fonts/BeVietnamPro-ExtraBold.woff') format('woff'),
      url('./../fonts/BeVietnamPro-ExtraBold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Be Vietnam Pro';
  src: url('./../fonts/BeVietnamPro-Italic.eot');
  src: url('./../fonts/BeVietnamPro-Italic.eot?#iefix') format('embedded-opentype'),
      url('./../fonts/BeVietnamPro-Italic.woff2') format('woff2'),
      url('./../fonts/BeVietnamPro-Italic.woff') format('woff'),
      url('./../fonts/BeVietnamPro-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Be Vietnam Pro';
  src: url('./../fonts/BeVietnamPro-ExtraLight.eot');
  src: url('./../fonts/BeVietnamPro-ExtraLight.eot?#iefix') format('embedded-opentype'),
      url('./../fonts/BeVietnamPro-ExtraLight.woff2') format('woff2'),
      url('./../fonts/BeVietnamPro-ExtraLight.woff') format('woff'),
      url('./../fonts/BeVietnamPro-ExtraLight.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Be Vietnam Pro';
  src: url('./../fonts/BeVietnamPro-ExtraLightItalic.eot');
  src: url('./../fonts/BeVietnamPro-ExtraLightItalic.eot?#iefix') format('embedded-opentype'),
      url('./../fonts/BeVietnamPro-ExtraLightItalic.woff2') format('woff2'),
      url('./../fonts/BeVietnamPro-ExtraLightItalic.woff') format('woff'),
      url('./../fonts/BeVietnamPro-ExtraLightItalic.ttf') format('truetype');
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Be Vietnam Pro';
  src: url('./../fonts/BeVietnamPro-ExtraBoldItalic.eot');
  src: url('./../fonts/BeVietnamPro-ExtraBoldItalic.eot?#iefix') format('embedded-opentype'),
      url('./../fonts/BeVietnamPro-ExtraBoldItalic.woff2') format('woff2'),
      url('./../fonts/BeVietnamPro-ExtraBoldItalic.woff') format('woff'),
      url('./../fonts/BeVietnamPro-ExtraBoldItalic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Be Vietnam Pro';
  src: url('./../fonts/BeVietnamPro-Medium.eot');
  src: url('./../fonts/BeVietnamPro-Medium.eot?#iefix') format('embedded-opentype'),
      url('./../fonts/BeVietnamPro-Medium.woff2') format('woff2'),
      url('./../fonts/BeVietnamPro-Medium.woff') format('woff'),
      url('./../fonts/BeVietnamPro-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Be Vietnam Pro';
  src: url('./../fonts/BeVietnamPro-LightItalic.eot');
  src: url('./../fonts/BeVietnamPro-LightItalic.eot?#iefix') format('embedded-opentype'),
      url('./../fonts/BeVietnamPro-LightItalic.woff2') format('woff2'),
      url('./../fonts/BeVietnamPro-LightItalic.woff') format('woff'),
      url('./../fonts/BeVietnamPro-LightItalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Be Vietnam Pro';
  src: url('./../fonts/BeVietnamPro-Light.eot');
  src: url('./../fonts/BeVietnamPro-Light.eot?#iefix') format('embedded-opentype'),
      url('./../fonts/BeVietnamPro-Light.woff2') format('woff2'),
      url('./../fonts/BeVietnamPro-Light.woff') format('woff'),
      url('./../fonts/BeVietnamPro-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Be Vietnam Pro';
  src: url('./../fonts/BeVietnamPro-SemiBold.eot');
  src: url('./../fonts/BeVietnamPro-SemiBold.eot?#iefix') format('embedded-opentype'),
      url('./../fonts/BeVietnamPro-SemiBold.woff2') format('woff2'),
      url('./../fonts/BeVietnamPro-SemiBold.woff') format('woff'),
      url('./../fonts/BeVietnamPro-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Be Vietnam Pro';
  src: url('./../fonts/BeVietnamPro-Thin.eot');
  src: url('./../fonts/BeVietnamPro-Thin.eot?#iefix') format('embedded-opentype'),
      url('./../fonts/BeVietnamPro-Thin.woff2') format('woff2'),
      url('./../fonts/BeVietnamPro-Thin.woff') format('woff'),
      url('./../fonts/BeVietnamPro-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Be Vietnam Pro';
  src: url('./../fonts/BeVietnamPro-MediumItalic.eot');
  src: url('./../fonts/BeVietnamPro-MediumItalic.eot?#iefix') format('embedded-opentype'),
      url('./../fonts/BeVietnamPro-MediumItalic.woff2') format('woff2'),
      url('./../fonts/BeVietnamPro-MediumItalic.woff') format('woff'),
      url('./../fonts/BeVietnamPro-MediumItalic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Be Vietnam Pro';
  src: url('./../fonts/BeVietnamPro-ThinItalic.eot');
  src: url('./../fonts/BeVietnamPro-ThinItalic.eot?#iefix') format('embedded-opentype'),
      url('./../fonts/BeVietnamPro-ThinItalic.woff2') format('woff2'),
      url('./../fonts/BeVietnamPro-ThinItalic.woff') format('woff'),
      url('./../fonts/BeVietnamPro-ThinItalic.ttf') format('truetype');
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Be Vietnam Pro';
  src: url('./../fonts/BeVietnamPro-Regular.eot');
  src: url('./../fonts/BeVietnamPro-Regular.eot?#iefix') format('embedded-opentype'),
      url('./../fonts/BeVietnamPro-Regular.woff2') format('woff2'),
      url('./../fonts/BeVietnamPro-Regular.woff') format('woff'),
      url('./../fonts/BeVietnamPro-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Be Vietnam Pro';
  src: url('./../fonts/BeVietnamPro-SemiBoldItalic.eot');
  src: url('./../fonts/BeVietnamPro-SemiBoldItalic.eot?#iefix') format('embedded-opentype'),
      url('./../fonts/BeVietnamPro-SemiBoldItalic.woff2') format('woff2'),
      url('./../fonts/BeVietnamPro-SemiBoldItalic.woff') format('woff'),
      url('./../fonts/BeVietnamPro-SemiBoldItalic.ttf') format('truetype');
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}


* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -ms-overflow-style: scrollbar;
  -webkit-tap-highlight-color: transparent;
  @include mq(md, min) {
    font-size: $font-size-base-pc;
  }
  @include mq(md, max) {
    font-size: $font-size-base-sp;
  }
  @include mq(wg, min) {
    font-size: $font-size-rem;
  }
}

body {
  margin: 0;
  font-family: $font-be-vietnam-pro;
  color: $txt_white;
  font-size: $font-size-default-pc;
  line-height: 1.214;
  font-weight: $font-weight-light;
  background-size: contain;
  background-color: $bg_body;
  @include mq(md, max) {
    font-size: $font-size-default-sp;
  }
}

body {
  --sb-track-color: #232E33;
  --sb-thumb-color: #ffffff;
  --sb-size: 4px;
}

body::-webkit-scrollbar {
  width: var(--sb-size);
}

body::-webkit-scrollbar-track {
  background: var(--sb-track-color);
  border-radius: 4px;
}

body::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
  border-radius: 4px;
}

@supports not selector(::-webkit-scrollbar) {
  body {
      scrollbar-color: var(--sb-thumb-color)
                     var(--sb-track-color);
  }
}


@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

* {
    animation: fadein 0.35s;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ol,
ul,
dl {
  list-style-type: none;
  margin: 0;
  padding-left: 0;
}

b,
strong {
  font-weight: $font-weight-bold;
}

a {
  background-color: transparent; // Remove the gray background on active links in IE 10.
  color: inherit;
  text-decoration: none;

  @include hover() {
    color: inherit;
    text-decoration: none;
  }
}

img {
  vertical-align: middle;
  border-style: none; // Remove the border on images inside links in IE 10-.
  max-width: 100%;
}

table {
  border-collapse: collapse; // Prevent double borders
}

th {
  text-align: inherit;
  text-align: -webkit-match-parent;
}

input,
button,
select,
optgroup,
textarea {
  margin: 0; // Remove the margin in Firefox and Safari
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

button,
input {
  overflow: visible; // Show the overflow in Edge
}

button,
select {
  text-transform: none; // Remove the inheritance of text transform in Firefox
}

select {
  word-wrap: normal;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

textarea {
  overflow: auto; // Remove the default vertical scrollbar in IE.
  // Textareas should really only resize vertically so they don't break their (horizontal) containers.
  resize: vertical;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  outline-offset: -2px; // 2. Correct the outline style in Safari.
  -webkit-appearance: none;
}

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

[hidden] {
  display: none !important;
}

.aligncenter {
  text-align: center;
}

.alignright {
  text-align: right;
}

.alignleft {
  text-align: left;
}

img {
  &.aligncenter {
    display: block;
    margin: auto;
  }

  &.alignright {
    display: block;
    margin-left: auto;
  }

  &.alignleft {
    display: block;
    margin-right: auto;
  }
}
.sp {
  @include mq(md, min) {
    display: none !important;
  }
}
.pc {
  @include mq(md, max) {
    display: none !important;
  }
}
.trans {
  opacity: 1;
  transition: opacity 0.26s ease;
  -webkit-transition: opacity 0.26s ease;
  -moz-transition: opacity 0.26s ease;
  -ms-transition: opacity 0.26s ease;
  -o-transition: opacity 0.26s ease;
  @include hover() {
    opacity: 0.7;
  }
}
[class^="icon-"], [class*=" icon-"] {
  font-size: rem(14);
}
.d-inline-block {
  display: inline-block;
}
a.video {
  object-fit: cover;
  display: flex;
  width: 100%;
}
table, div, main, body, canvas {
  animation: fadein 0.35s;
}

@keyframes fadein {
  from {
      opacity: 0%;
  }
  to {
      opacity: 100%;
  }
}
a {
  @include hover-icon()
}
.inner {
  @include pd-main();
}
.fa-brands, .fab {
  font-size: 18px;
}
