.breadcrumb {
  margin-bottom: rem(7);
  $this: &;
  &__list {
    display: flex;
  }
  &__item {
    font-size: rem(14);
    // color: #008fd6;
    & + & {
      position: relative;
      padding-left: rem(35);
      &::before {
        content: "";
        display: block;
        border: solid ;
        border-width: 0 rem(1) rem(1) 0;
        display: inline-block;
        padding: rem(2);
        position: absolute;
        top: rem(6);
        left: rem(15);
        transform: rotate(-45deg);
        -webkit-transform: rotate(-45deg);
      }
    }
    a {
      color: #000;
      text-decoration: none;
    }
  }
}
