.btn {
  font-size: rem(16);
  font-weight: $font-semi-bold;
  border-radius: rem(3);
  padding: rem(8);
  color: #fff;
  text-align: center;
  border: none;
  display: inline-block;
  cursor: pointer;
  transition: all 0.2 ease;
  &.--blue {
    background-color: #008fd6;
    &:hover {
      background-color: #ea7e4a;
      color: #fff;
    }
  }
  &.--green {
  }
  &.--yellow {
  }
}

.btn-com {
  color: $txt_white;
  background-color: $bg_input;
  font-weight: 600;
  padding: rem(5) rem(10);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2 ease;
  height: rem(30);
  position: relative;
  i {
    margin-right: rem(5);
  }
  &.--w250 {
    min-width: rem(250);
  }
  &.--green {
    background-color: $successfull;
  }
  &.--gray {
    background-color: $bg_input;
    &:hover {
      opacity: .7;
    }
  }
  &.--small {
    font-size: rem(12);
  }
  &.--save {
    width: rem(250);
    text-align: center;
    i {
      position: absolute;
      left: rem(16);
      top: 50%;
      transform: translateY(-50%);
    }

  }
  &:hover {
    color: #fff;
    opacity: .7;
  }
  &.disabled {
    opacity: .7;
    pointer-events: none;
  }
}
.btn-group {
  display: flex;
  &__item {
    & + .btn-group__item {
      margin-left: rem(20);
    }
  }
}