.form-group {
  $this: &;
  width: 100%;
  position: relative;
  .dropdown {
    position: relative;
    
    .dropdown__bar {
      border: rem(1) solid $border;
      // color: #9196a0;
      padding: 0 rem(10);
      .fa-chevron-up {
        position: absolute;
        top: 50%;
        right: rem(10);
        -webkit-transform: translateY(-50%) rotate(-180deg);
        transform: translateY(-50%) rotate(-180deg);
      }
    }
    .dropdown__list {
      border: rem(1) solid $border;
    }
    &.--active {
      .dropdown__bar {
        .fa-chevron-up {
          -webkit-transform: translateY(-50%) rotate(0);
          transform: translateY(-50%) rotate(0);
        }
      }
    }
    
  }
  & + .form-group {
    margin-top: rem(20);
  }
}
.form-search {
  position: relative;
  // padding: 0.5rem 0.5rem 0.5rem 4rem;
  // color: $txt_black;
  .fa-magnifying-glass {
    position: absolute;
    left: rem(15);
    top: 50%;
    transform: translateY(-50%);
    margin: auto;
  }
  input {
    // border-color: $border;
  }
  &.--bdr-none {
    input {
      // border: none;
    }
  }
  &.--rds {
    input {
      border-radius: rem(30);
      background-color: $bg_input;
      border: none;
    }
    
  }
  .form-control {
    padding: rem(5) rem(5) rem(5) rem(40);
  }
}
.form-password {
  position: relative;
  .fa-solid {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: rem(10)
  }
  .form-control {
    padding-right: rem(35);
  }
}
// .form-select {
//   display: flex;
//   .form-label {
//       background-color: $bg_input;
//   }
// }
.error {
  display: block;
  font-size: rem(10);
  line-height: 1;
  -webkit-margin-before: 0;
  margin-block-start: 0;
  margin-top: rem(8);
  color: $danger;
  @include mq(md, min) {
    font-size: rem(12);
    font-weight: 500;
  }
}

.count-char {
  font-size: rem(10);
  text-align: right;
  line-height: 1;
  margin: rem(8) 0 0 0;
  @include mq(md, min) {
    font-size: rem(12);
    font-weight: 500;
  }
}
.form-label {
  display: block;
  font-size: rem(14);
  line-height: 1;
  margin-bottom: rem(10);
  font-weight: 500;
  // color: ;
}
.form-control {
  display: block;
  width: 100%;
  font-size: rem(13);
  line-height: rem(35);
  color: $txt_white;
  background: $bg_input;
  border: rem(1) solid $border;
  padding: rem(7) rem(10);
  outline: none;
  height: rem(35);
  border-radius: rem(4);
  @include mq(md, min) {
    font-size: rem(14);
    line-height: 1.8;
    padding: rem(7) rem(10);
  }
  &::placeholder {
    color: $txt_white;
  }
  &::-webkit-input-placeholder {
    color: $txt_white;
  }
  &::-moz-placeholder {
    color: $txt_white;
  }
  &::-ms-input-placeholder {
    color: $txt_white;
  }
  &:focus,
  &:active {
    border-color: $wraning;
  }
  &:hover {
    border-color: $wraning;
  }

  &.is-invalid {
    border-color: $danger;
  }
}

.select {
  background: url("data:image/svg+xml,<svg height='10px' width='10px' viewBox='0 0 16 16' fill='%23000000' xmlns='http://www.w3.org/2000/svg'><path d='M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z'/></svg>")
    no-repeat;
  -webkit-appearance: none;
  background-position: calc(100% - 0.75rem) center;
}

.checkbox {
  display: inline-block;
  position: relative;
  // padding-left: rem(35);
  cursor: pointer;
  font-size: rem(13);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  line-height: 1.5;
  $this: &;
  // color: #000;
  @include mq(md, min) {
    font-size: rem(16);
  }
  input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
    &:checked ~ #{$this}__checkmark {
      background-color: $active;
    }
    &:checked ~ #{$this}__checkmark:after {
      display: block;
    }
    &:not(:checked) ~ #{$this}__checkmark:hover {
      border-color: $wraning;
    }
    &.is-invalid ~ #{$this}__checkmark {
      border-color: $danger;
    }
  }

  &__checkmark {
    // position: absolute;
    top: rem(4);
    left: 0;
    height: rem(23);
    width: rem(23);
    border: rem(1) solid $border;
    border-radius: rem(2);
    display: block;
    &:after {
      content: "";
      position: absolute;
      display: none;
      left: rem(7);
      top: rem(1);
      width: rem(5);
      height: rem(14);
      border: solid $txt_white;
      border-width: 0 rem(2) rem(2) 0;
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg);
    }
  }
}

.dropdown {
  $this: &;
  // color: #414141;

  &__tool {
    position: relative;
    cursor: pointer;
  }
  &__txt {
    white-space: nowrap;
  }
  &__bar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: rem(35);
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: rem(12);
    line-height: 1.7;
    background: $bg_input;
    border: rem(1) solid $border;
    padding: 0 rem(17);
    width: 100%;
    border-radius: rem(4);
    @include mq(md, min) {
      height: rem(35);
      font-size: rem(12);
      line-height: 1.8;
      padding: 0 rem(21);
    }
    .fa-caret-down,
    .fa-chevron-down {
      position: absolute;
      top: 50%;
      right: rem(15);
      transform: translateY(-50%);
      @include mq(md, min) {
        right: rem(15);
      }
    }
   
    &:hover {
      // color: #ea7e4a;
      opacity: .7;
      .fa-chevron-up {
        // color: #ea7e4a;
      }
    }
  }
  &__icon {
    margin-right: rem(5);
  }
  &__list {
    display: none;
    position: absolute;
    width: 100%;
    top: rem(42);
    left: 0;
    background: $bg_input;
    list-style: none;
    padding: rem(5) rem(10);
    z-index: 4;
    max-height: rem(350);
    min-width: rem(90);
    overflow-y: auto;
    border-radius: rem(5);
    border: rem(1) solid $border;
    backdrop-filter:blur(50px);
    @include mq(md, min) {
      top: rem(45);
    }
  }
  &__item {
    cursor: pointer;
    font-size: rem(13);
    line-height: 1.7;
    padding: rem(6) 0;
    @include mq(md, min) {
      font-size: rem(14);
      line-height: 1.8;
    }
    &:hover {
      color: $active;
    }
    &:first-child {
      padding-top: 0;
    }
    &:last-child {
      padding-bottom: 0;
    }
    &.--is-select {
      color: $active;
    }
  }
  &.--active {
    #{$this}__list {
      display: block;
    }
    #{$this}__bar {
      .fa-chevron-up {
        -webkit-transform: translateY(-50%) rotate(-180deg);
        transform: translateY(-50%) rotate(-180deg);
      }
    }
  }
}

.switch {
  display: flex;
  align-items: center;
  
  &__btn {
    position: relative;
    display: inline-block;
    width: 45px;
    height: 26px;
    & + .switch__txt {
      margin-left: rem(15);
    }
  }
  
  input {
    opacity: 0;
    width: 0;
    height: 0;
    &:checked + .switch__slider {
      background-color: $active;
    }
    &:focus + .switch__slider {
      box-shadow: 0 0 1px $active;
    }
    &:checked + .switch__slider:before {
      -webkit-transform: translateX(18px);
      -ms-transform: translateX(18px);
      transform: translateX(18px);
    }
  }
  &__slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: $bg_input;
    -webkit-transition: .4s;
    border-radius: rem(12);
    transition: .4s;
    &::before {
      position: absolute;
      content: "";
      height: 20px;
      width: 20px;
      left: 4px;
      top: 0;
      bottom: 0;
      margin: auto;
      background-color: $bg_white;
      -webkit-transition: .4s;
      transition: .4s;
      border-radius: rem(10);
    }
  }
}
