//- header.header
//-   .container
//-     .header__content
//-       .header__logo
//-         a(href='#')
//-           +img('images/common/logo.png', 'logo')
//-       .header__box
//-         nav.header__nav
//-           ul.header__menu
//-             li.header__menu-item
//-               +link("component.html","component").header__menu-link
//-             li.header__menu-item
//-               +link("#","Home").header__menu-link.active-nav
//-             li.header__menu-item
//-               +link("#","Product").header__menu-link
//-             li.header__menu-item
//-               +link("#","Service").header__menu-link
//-             li.header__menu-item
//-               +link("#","About").header__menu-link
//-             li.header__menu-item
//-               +link("#","Contact").header__menu-link
//-         .header__social
//-           .header__social-title Follow Us
//-           ul.header__social-list
//-             li.header__social-item
//-               +link("#","facebook").header__social-link
//-                 i.fa-brands.fa-facebook
//-             li.header__social-item
//-               +link("#","instagram").header__social-link
//-                 i.fa-brands.fa-instagram
//-             li.header__social-item
//-               +link("#","twitter").header__social-link
//-                 i.fa-brands.fa-twitter
//-             li.header__social-item
//-               +link("#","pinterest").header__social-link
//-                 i.fa-brands.fa-pinterest
//-       .header__burger
//-         span.header__burger-line
//-         span.header__burger-line
//-         span.header__burger-line
