script(type="text/javascript" src="scripts/jquery-3.7.1.js")
script(type="text/javascript" src="scripts/jquery-ui/jquery-ui.js")
//- script(type="text/javascript" src="scripts/jquery-migrate-1.2.1.min.js")
//- script(type="text/javascript" src="scripts/slick/slick.min.js")
//- script(type="text/javascript" src="https://code.jquery.com/jquery-1.11.0.min.js")
//- script(type="text/javascript" src="https://code.jquery.com/jquery-migrate-1.2.1.min.js")
//- script(type="text/javascript" src="scripts/viewport.js")
script(type="text/javascript" src="chart/chart-utils.min.js")
script(type="text/javascript" src="chart/chart.umd.js")
//- script(src='https://vjs.zencdn.net/8.16.1/video.min.js')

script(type="text/javascript" src="scripts/magnific-popup/jquery.magnific-popup.js")
//- script(type="text/javascript" src="scripts/magnific-popup/jquery.magnific-popup.min.js")
//- quill
script(type="text/javascript" src="scripts/quill/highlight.min.js")
script(type="text/javascript" src="scripts/quill/quill.js")

//- script(src='https://cdn.jsdelivr.net/npm/quill@2.0.2/dist/quill.js')
//- script(src='https://cdn.jsdelivr.net/npm/katex@0.16.9/dist/katex.min.js')

script(type="text/javascript" src="scripts/main.js")