block mixins
	include ../mixins/mixins
block vars
	-title = 'Site'
	-bodyClass = ''

doctype html
html(lang="en")
	head
		meta(charset="utf-8")
		title=title
		meta(name="description", content="")
		meta(name="keywords", content="")
		//- meta(name="robots", content="index, follow")
		meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1")
		//- link(rel="icon", href="favicon-16x16.png", type="image/x-icon", sizes="16x16")
		//- link(rel='stylesheet', href="styles/lib/slick.css")
		link(rel='stylesheet', href='fontawesome/css/all.min.css')
		link(rel='stylesheet', href='icomoon/style.css')
		//- link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css')
		//- link(rel='stylesheet', href='styles/lib/fontawesome.min.css')
		//- link(href='https://vjs.zencdn.net/8.16.1/video-js.css' rel='stylesheet')
		link(rel="stylesheet", href="scripts/magnific-popup/magnific-popup.css")
		//- quill
		link(rel="stylesheet", href="scripts/quill/quill.snow.css")
		//- link(rel='stylesheet' href='https://cdn.jsdelivr.net/npm/katex@0.16.9/dist/katex.min.css')

		link(rel="stylesheet", href="scripts/jquery-ui/jquery-ui.css")

		link(rel="stylesheet", href="styles/styles.css")
	body(class=bodyClass)
		block header
			include ../blocks/header
		main
			block container
		block footer
			include ../blocks/footer
		block layer
		include ../blocks/scripts
		block script
