// grid
$grid-gutter-width: 15 !default;
$container-width: 1200 !default;
$container-width-gutter: $container-width + ($grid-gutter-width * 2);

$displays: none, block, flex !default;

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  wg: $container-width + #{"px"},
  xl: 1200px,
  ll: 1500px,
) !default;

//font
$font-Open-Sans: "Open Sans", sans-serif;

$font-weight-bold: 700;
$font-semi-bold: 600;
$font-weight-medium: 500;
$font-weight-regular: 400;
$font-weight-light: 300;

$font-size-base-pc: calc((10vw / #{$container-width}) * 100);
$font-size-base-sp: calc((10vw / 320) * 100);

$font-size-default-pc: 1.4rem;
$font-size-default-sp: 1.4rem;
$font-size-rem: 10px;

//color
$white-1: #fff;

$black-1: #5c5c5c;
$black-2: #e7e7ee;
$black-3: #94939e;
$black-4: #000000;
$black-5: #38394a;
$black-6: #efefef;

$ograne-1: #ea7e4a;

$green-1: #77b02f;

$yellow-1: #f6e10d;


$blue-1: #4277d1;
$blue-2: #dee7ef;
$blue-3: #316bce;