// grid
$grid-gutter-width: 15 !default;
$container-width: 1200 !default;
$container-width-gutter: $container-width + ($grid-gutter-width * 2);

$displays: none, block, flex !default;

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  wg: $container-width + #{"px"},
  xl: 1200px,
  ll: 1500px,
) !default;

//font
$font-be-vietnam-pro: 'Be Vietnam Pro';

$font-weight-bold: 700;
$font-semi-bold: 600;
$font-weight-medium: 500;
$font-weight-regular: 400;
$font-weight-light: 300;

$font-size-base-pc: calc((10vw / #{$container-width}) * 100);
$font-size-base-sp: calc((10vw / 320) * 100);

$font-size-default-pc: 1.4rem;
$font-size-default-sp: 1.4rem;
$font-size-rem: 10px;

//color
$active: #3d8bff;
$successfull: #099077;
$danger: #ea4335; // err
$wraning: #f5b060;// alert
$online: #099077;
$offline: #505050;
$card_header: #2c3239;  // card header
$bg_body: #1a1a1a; // Body | BG, Siderbar
$card_body: #262626; // card body | child element body
$bg_input: #2c3239; // Input Bg | Button BG | Element that user can interact
$status_idle: #505050; // idle status | grey Neutral
$border: #a8a8a8; // border (all)
$bg_white: #ffffff; // white BG
$txt_white: #ffffff;// text white
// back
// $main_body: #1a1a1a;
// $card_body: #262626;
// $card_header: #2c3239;
// $interact_assets: #2c3239;
// $status_ide: #505050;
// light
// $border: rgba(#fff, 0.15);
// $bg_white: #fff;
// $txt: #fff;

// $bg_body: #1a1a1a;
// $bg_head: #1d1d1d;
// $bg_main: #1e1e1e;
// light

// $bg_white: #fff;
// $bg_hover: rgba(#fff, 0.15);


// $txt_white: #fff;
// $txt_black: #202230;
// $txt_blue: #202230;

