extends layout/layout

block vars
	-title = 'home page'
	-bodyClass = ''

block container
	+breadcrumb([{text: "Home", url: "/home.html"}, {text: "product", url: "#"}, {text: "01"}])
	.container
		h2(style='margin-top: 20px') Title
		h2.title-one Title one
		h2(style='margin-top: 20px') Form
		form(action='')
			.form-group
				label.form-label(for='yourFirstName') Your First Name *
				input#yourFirstName.form-control(name='yourFirstName' type='text' placeholder='Please enter your first name')
			.form-group
				label.form-label(for='yourFirstName') Your First Name *
				input#yourFirstName.form-control.is-invalid(name='yourFirstName' type='text' placeholder='Please enter your first name')
				p.error *Required Information
			.row
				.col-md-6
					.form-group
						label.form-label(for='yourFirstName') Your First Name *
						input#yourFirstName.form-control(name='yourFirstName' type='text' placeholder='Please enter your first name')
				.col-md-6
					.form-group
						label.form-label(for='yourFirstName') Your First Name *
						input#yourFirstName.form-control(name='yourFirstName' type='text' placeholder='Please enter your first name')
			.form-group
				label.form-label(for='yourMessage') Your Message*
				textarea#yourMessage.form-control(name='yourMessage' placeholder='Please enter your message' rows="5")
				.count-char
					span 300
					| /
					span 300
			.form-group 
				select.form-control.select
					option 1
					option 2
					option 3
					option 4
					option 5
			.form-group
				label.form-label(for='country-code') Country Code*
				.dropdown
					.dropdown__tool
						.dropdown__bar
							span.dropdown__name US
							i.fa-solid.fa-chevron-up
						ul.dropdown__list
							li.dropdown__item.--is-select US
							li.dropdown__item VI
			.form-group
				label.checkbox(for='checkboxAgree')
					| checkbox
					input#checkboxAgree(name='checkboxAgree' type='checkbox' placeholder='Please enter your message')
					span.checkbox__checkmark
			.form-group
				label.checkbox(for='checkboxErr')
					| checkbox error
					input#checkboxErr.is-invalid(name='checkboxAgree' type='checkbox' placeholder='Please enter your message')
					span.checkbox__checkmark
				p.error *Required Information
			
		h2(style='margin-top: 20px') select Lang
		.select-lang
			.select-lang__bar
				.select-lang__current
					+img('images/common/flag/flag-us.png','United States')
					span United States
				i.select-lang__arrow.fa-solid.fa-chevron-up
			ul.select-lang__list
				li.select-lang__item.d-none
					+img('images/common/flag/flag-us.png','United States')
					span United States
				li.select-lang__item
					+img('images/common/flag/flag-vietnam.png','Vietnamese')
					span Vietnamese
		.select-lang
			.select-lang__bar
				.select-lang__current
					+img('images/common/flag/flag-us.png','United States')
					span United States
				i.select-lang__arrow.fa-solid.fa-chevron-up
			ul.select-lang__list
				li.select-lang__item.d-none
					+img('images/common/flag/flag-us.png','United States')
					span United States
				li.select-lang__item
					+img('images/common/flag/flag-vietnam.png','Vietnamese')
					span Vietnamese
		h2(style='margin-top: 20px') Button
		+link('#',"link").btn.--blue
		button.btn.--blue blue
		h2(style='margin-top: 20px') modal
		+link('#',"show modal")(data-toggle="modal" data-target="#modal1").btn.--blue
		#modal1.modal
			.modal__dialog
				.modal__content
					.modal__header
						h5.modal__title Modal title
						button.modal__close
							span &times;						
					.modal__body
						p
							| Cras mattis consectetur purus sit amet fermentum. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.
						p
							| Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.
					.modal__footer
						button.btn.--blue Close
		h2(style='margin-top: 20px') tab
		.tabs 
			ul.tabs__nav
				li.--active
					+link('#tab1',"tab1")
				li
					+link('#tab2',"tab2")
				li
					+link('#tab3',"tab3")
			.tabs__panel
				#tab1.tabs__content.--active
					h2 Silent Bob 1
					p "You know, there's a million fine looking women in the world, dude. But they don't all bring you lasagna at work. Most of 'em just cheat on you."
				#tab2.tabs__content
					h2 Silent Bob 2
					p "You know, there's a million fine looking women in the world, dude. But they don't all bring you lasagna at work. Most of 'em just cheat on you."
				#tab3.tabs__content
					h2 Silent Bob 3
					p "You know, there's a million fine looking women in the world, dude. But they don't all bring you lasagna at work. Most of 'em just cheat on you."
					

		h2(style='margin-top: 20px') acrticle
		+article({
			items: [
				{name: "aaa"},
				{name: "bbb"}
			]
		})
