extends layout/layout

block vars
	-title = 'HS129 page'
	-bodyClass = 'target-page'

block container
	.dashboard
		.dashboard__content
			.header-app
				.header-app__left
					ul.header-app__list
						li.header-app__item
							+link('#',"").header-app__link
								span.header-app__icon
									i.fa-solid.fa-chevron-left
						li.header-app__item
							+link('#',"").header-app__link
								span.header-app__icon
									i.fa-solid.fa-chevron-right
						li.header-app__item
							+link('#',"").header-app__link
								span.header-app__icon
									i.fa-sharp.fa-solid.fa-rotate-right
						li.header-app__item
							+link('#',"").header-app__link
								span.header-app__icon
									i.fa-solid.fa-list
					.header-app__dropdown
						.dropdown
							.dropdown__tool
								.dropdown__bar
									span.dropdown__txt
										| Facebook Profile 18/17
									i.fa-sharp.fa-solid.fa-caret-down
								ul.dropdown__list
									li.dropdown__item.--is-select choose01
									li.dropdown__item choose02
				.header-app__right
					.header-app__zoom
						+link('#',"").header-app__zoom-link
							span.header-app__zoom-icon
								i.fa-solid.fa-magnifying-glass-minus
						span.header-app__zoom-percent 100%
						+link('#',"").header-app__zoom-link
							span.header-app__zoom-icon
								i.fa-solid.fa-magnifying-glass-plus
					.header-app__language 
						| EN
						span.header-app__language-dot
						| DE 
					ul.header-app__notify
						li.header-app__notify-item
							+link('#',"").header-app__notify-link
								span.header-app__notify-icon
									i.fa-solid.fa-download
						li.header-app__notify-item
							+link('#',"").header-app__notify-link
								span.header-app__notify-icon
									i.fa-solid.fa-bell
						li.header-app__notify-item
							+link('#',"").header-app__notify-link
								span.header-app__notify-icon
									i.fa-solid.fa-gear
					ul.header-app__windown
						li.header-app__windown-item
							+link('#',"").header-app__windown-link
								span.header-app__windown-icon
									i.fa-solid.fa-window-minimize
						li.header-app__windown-item
							+link('#',"").header-app__windown-link
								span.header-app__windown-icon
									i.fa-solid.fa-window-restore
						li.header-app__windown-item
							+link('#',"").header-app__windown-link
								span.header-app__windown-icon
									i.fa-solid.fa-xmark
			.profile.--setting.--license
				.profile__content.active
					.profile__nav.--bdr-none
						.profile__ttl Settings
						ul.profile__menu
							li.profile__item
								+link('#',"").profile__link
									span.profile__icon
										i.fa-solid.fa-sliders
									span.profile__txt Preferences
							li.profile__item
								+link('#',"").profile__link
									span.profile__icon
										i.fa-solid.fa-earth-europe
									span.profile__txt Networks
							li.profile__item
								+link('#',"").profile__link
									span.profile__icon
										i.fa-solid.fa-user-lock
									span.profile__txt Crawling Profiles
							li.profile__item
								+link('#',"").profile__link
									span.profile__icon
										i.fa-solid.fa-bars-progress
									span.profile__txt Tasks
							li.profile__item
								+link('#',"").profile__link
									span.profile__icon
										i.fa-solid.fa-tags
									span.profile__txt Tag Schema Templates
							li.profile__item
								+link('#',"").profile__link.active
									span.profile__icon
										i.fa-solid.fa-key
									span.profile__txt License
							li.profile__item
								+link('#',"").profile__link
									span.profile__icon
										i.fa-solid.fa-network-wired
									span.profile__txt Proxy
							li.profile__item
								+link('#',"").profile__link
									span.profile__icon
										i.fa-solid.fa-phone
									span.profile__txt Info and Support
							li.profile__item
								+link('#',"").profile__link
									span.profile__icon
										i.fa-solid.fa-puzzle-piece
									span.profile__txt Third Parties

	
									
					.profile__main
						.license-main
							+breadcrumb([{text: "Account Settings", url: "#"}, {text: "License Management"}])
							.license-main__wrap
								.license-main__main
									.license-main__info
										.license-manage
											.license-manage__ttl Please select a license file to activate the software
											.license-manage__box.--no-pd
												.btn-upload
													span.btn-upload__icon
														i.fa-solid.fa-upload
													span.btn-upload__txt CLICK OR DRAG FILE HERE TO UPLOAD NEW LICENSE FILE
										.license-manage.--active
											.license-manage__ttl Active License
											.license-manage__box
												.license-manage__head
													.license-manage__topic 
														span.license-manage__topic-name License
														span.license-manage__topic-icon
															i.fa-solid.fa-trash-can.trans
													.lable-license.--red
														span.lable-license__txt 12 days left
												.progress-bar
													.progress-bar__bar
														.progress-bar__precent(style="width:96%")
													ul.progress-bar__task 
														li.progress-bar__task-item 
															.progress-bar__task-cont
																|23.11.2023 00:00 +07
														li.progress-bar__task-item
															.progress-bar__task-cont
																i.fa-solid.fa-network-wired
																| max. 3 runners
														li.progress-bar__task-item
															.progress-bar__task-cont
																| 21.08.2024 00:00 +07
												.license-manage__arrow 
													i.fa-solid.fa-chevron-down
												.license-manage__lable-active
													.lable-license.--green
														.lable-license__icon
															i.fa-solid.fa-chevron-down
														span.lable-license__txt Active
										.license-manage
											.license-manage__ttl Other Licenses
											.license-manage__box
												.license-manage__head
													.license-manage__topic 
														span.license-manage__topic-name orrupted License or missing USB Dongle
														span.license-manage__topic-icon
															i.fa-solid.fa-trash-can.trans
												.alert.--danger
													|There was an issue decoding your license. This can happen if your USB Dongle is not connected to your PC. If your USB Dongle is connected and you still receive this error please contact our support team at support@freezingdata.de.
											.license-manage__box
												.license-manage__head
													.license-manage__topic 
														span.license-manage__topic-name orrupted License or missing USB Dongle
														span.license-manage__topic-icon
															i.fa-solid.fa-trash-can.trans
												.alert.--danger
													|There was an issue decoding your license. This can happen if your USB Dongle is not connected to your PC. If your USB Dongle is connected and you still receive this error please contact our support team at support@freezingdata.de.

								.license-main__aside 
									.license-hardware
										.license-hardware__ttl Hardware-IDs
										ul.license-hardware__list
											li.license-hardware__item
												.license-hardware__topic VMware Network Adapter VMnet8
												.license-hardware__code 
													+link('#',"").license-hardware__icon.trans
														i.fa-solid.fa-copy
													span.license-hardware__char 00:50:56:c0:00:08
											li.license-hardware__item
												.license-hardware__topic Bluetooth Network Connection
												.license-hardware__code 
													+link('#',"").license-hardware__icon.trans
														i.fa-solid.fa-copy
													span.license-hardware__char 10:68:38:5b:95:28
											li.license-hardware__item
												.license-hardware__topic Ethernet 2
												.license-hardware__code 
													+link('#',"").license-hardware__icon.trans
														i.fa-solid.fa-copy
													span.license-hardware__char 00:09:0f:fe:00:01
											li.license-hardware__item
												.license-hardware__topic Ethernet
												.license-hardware__code 
													+link('#',"").license-hardware__icon.trans
														i.fa-solid.fa-copy
													span.license-hardware__char 08:bf:b8:07:aa:5a
											li.license-hardware__item
												.license-hardware__topic Wi-Fi
												.license-hardware__code 
													+link('#',"").license-hardware__icon.trans
														i.fa-solid.fa-copy
													span.license-hardware__char 10:68:38:5b:95:29
											li.license-hardware__item
												.license-hardware__topic Ethernet 3
												.license-hardware__code 
													+link('#',"").license-hardware__icon.trans
														i.fa-solid.fa-copy
													span.license-hardware__char 00:09:0f:aa:00:01
											li.license-hardware__item
												.license-hardware__topic VMware Network Adapter VMnet1
												.license-hardware__code 
													+link('#',"").license-hardware__icon.trans
														i.fa-solid.fa-copy
													span.license-hardware__char 00:50:56:C0:00:01






