extends layout/layout

block vars
	-title = 'HS160 page'
	-bodyClass = 'target-page'

block container
	.dashboard
		.dashboard__content
			.header-app
				.header-app__left
					ul.header-app__list
						li.header-app__item
							+link('#',"").header-app__link
								span.header-app__icon
									i.fa-solid.fa-chevron-left
						li.header-app__item
							+link('#',"").header-app__link
								span.header-app__icon
									i.fa-solid.fa-chevron-right
						li.header-app__item
							+link('#',"").header-app__link
								span.header-app__icon
									i.fa-sharp.fa-solid.fa-rotate-right
						li.header-app__item
							+link('#',"").header-app__link
								span.header-app__icon
									i.fa-solid.fa-list
					.header-app__dropdown
						.dropdown
							.dropdown__tool
								.dropdown__bar
									span.dropdown__txt
										| Facebook Profile 18/17
									i.fa-sharp.fa-solid.fa-caret-down
								ul.dropdown__list
									li.dropdown__item.--is-select choose01
									li.dropdown__item choose02
				.header-app__right
					.header-app__zoom
						+link('#',"").header-app__zoom-link
							span.header-app__zoom-icon
								i.fa-solid.fa-magnifying-glass-minus
						span.header-app__zoom-percent 100%
						+link('#',"").header-app__zoom-link
							span.header-app__zoom-icon
								i.fa-solid.fa-magnifying-glass-plus
					.header-app__language 
						| EN
						span.header-app__language-dot
						| DE 
					ul.header-app__notify
						li.header-app__notify-item
							+link('#',"").header-app__notify-link
								span.header-app__notify-icon
									i.fa-solid.fa-download
						li.header-app__notify-item
							+link('#',"").header-app__notify-link
								span.header-app__notify-icon
									i.fa-solid.fa-bell
						li.header-app__notify-item
							+link('#',"").header-app__notify-link
								span.header-app__notify-icon
									i.fa-solid.fa-gear
					ul.header-app__windown
						li.header-app__windown-item
							+link('#',"").header-app__windown-link
								span.header-app__windown-icon
									i.fa-solid.fa-window-minimize
						li.header-app__windown-item
							+link('#',"").header-app__windown-link
								span.header-app__windown-icon
									i.fa-solid.fa-window-restore
						li.header-app__windown-item
							+link('#',"").header-app__windown-link
								span.header-app__windown-icon
									i.fa-solid.fa-xmark
				
			.menu-app
				.menu-app__left
					.menu-app__ttl Facebook Profile
					ul.menu-app__list
						li.menu-app__item
							+link('#',"").menu-app__link
								span.menu-app__icon
									i.fa-solid.fa-circle-nodes
						li.menu-app__item
							+link('#',"").menu-app__link
								span.menu-app__icon
									i.fa-solid.fa-file-pdf
						li.menu-app__item
							+link('#',"").menu-app__link
								span.menu-app__icon
									i.fa-solid.fa-file-export
						li.menu-app__item
							+link('#',"").menu-app__link
								span.menu-app__icon
									i.fa-solid.fa-file-export
				.menu-app__center
					.menu-app__search
						.form-search
							i.fa-solid.fa-magnifying-glass
							input.form-control(name='search' type='text' placeholder='Search...')
					.menu-app__select 
						.dropdown
							.dropdown__tool
								.dropdown__bar
									span.dropdown__txt
										| Select an Alert Instal
									i.fa-solid.fa-chevron-down
								ul.dropdown__list
									li.dropdown__item.--is-select choose01
									li.dropdown__item choose02
				.menu-app__right 
					ul.menu-app__list
						li.menu-app__item
							+link('#',"").menu-app__link
								span.menu-app__number 0
								span.menu-app__icon
									i.fa-solid.fa-users-viewfinder
						li.menu-app__item
							+link('#',"").menu-app__link
								span.menu-app__icon
									i.fa-solid.fa-bars-progress
						li.menu-app__item
							+link('#',"").menu-app__link
								span.menu-app__icon
									i.fa-solid.fa-tags
						li.menu-app__item
							+link('#',"").menu-app__link
								span.menu-app__icon
									i.fa-solid.fa-screwdriver-wrench
			.profile(data-height-sidebar)
				.profile__sidebar.sidebar
					ul.sidebar__nav
						li.sidebar__item
							+link('#',"").sidebar__link
								.sidebar__info
									span.sidebar__icon
										i.fa-solid.fa-house
						li.sidebar__item
							+link('#',"").sidebar__link
								.sidebar__info
									span.sidebar__icon
										i.fa-solid.fa-cloud-arrow-down
						li.sidebar__item
							+link('#',"").sidebar__link.active
								.sidebar__info
									span.sidebar__icon
										i.fa-solid.fa-user-group
									span.sidebar__number 46
						li.sidebar__item
							+link('#',"").sidebar__link
								.sidebar__info
									span.sidebar__icon
										i.fa-solid.fa-book
									span.sidebar__number 46
						li.sidebar__item
							+link('#',"").sidebar__link
								.sidebar__info
									span.sidebar__icon
										i.fa-solid.fa-photo-film
									span.sidebar__number 74
						li.sidebar__item
							+link('#',"").sidebar__link
								.sidebar__info
									span.sidebar__icon
										i.fa-solid.fa-message
									span.sidebar__number 0
						li.sidebar__item
							+link('#',"").sidebar__link
								.sidebar__info
									span.sidebar__icon
										i.fa-solid.fa-comments
									span.sidebar__number 0
						li.sidebar__item
							+link('#',"").sidebar__link
								.sidebar__info
									span.sidebar__icon
										i.fa-solid.fa-map-location-dot
									span.sidebar__number 2
						li.sidebar__item
							+link('#',"").sidebar__link
								.sidebar__info
									span.sidebar__icon
										i.fa-solid.fa-gauge
				.profile__content.active.--project-profile
					.project-profile
						+breadcrumb([{text: "Projects", url: "#"},{text: "Facebook Profiles 18/17", url: "#"}, {text: "Settings"}])
						.project-profile__wrap
							.project-profile__list
								.project-profile__item.--center
									.project-profile__topic 
										.project-profile__ttl Project picture
										p.project-profile__txt Here you can upload a picture that represents the project.
									.project-profile__detail
										.project-picture 
											.project-picture__icon 
												i.fa-solid.fa-folder-closed
											.project-picture__btn
												.project-tools
													.project-tools__list
														.project-tools__item 
															+link('#',"").project-tools__link.--update
																.project-tools__icon
																	i.fa-solid.fa-plus
																.project-tools__txt
																	span UPDATE PROJECT PICTURE
														.project-tools__item 
															+link('#',"").project-tools__link.--remove
																.project-tools__icon
																	i.fa-solid.fa-xmark
																.project-tools__txt
																	span REMOVE PROJECT PICTURE
								.project-profile__item
									.project-profile__topic 
										.project-profile__ttl Project Details
										p.project-profile__txt Here you can edit the main information about the project.
									.project-profile__detail
										.project-form
											form(action='').project-form__form
												.form-group
													label.form-label(for='projectName') Project name *
													input#projectName.form-control(name='projectName' type='text' placeholder='Facebook Profiles 18/7')
												.form-group
													label.form-label(for='caseName') Case name *
													input#caseName.form-control(name='caseName' type='text' placeholder='Facebook')
												.form-group
													label.form-label(for='caseName') Description
													.editor-area
														#toolbar-container
															span.ql-formats
																select.ql-size
																select.ql-font
															span.ql-formats
																button.ql-bold
																button.ql-italic
																button.ql-underline
																//- button.ql-strike
															span.ql-formats
																select.ql-color
																select.ql-background
															//- span.ql-formats
															//- 	button.ql-script(value='sub')
															//- 	button.ql-script(value='super')
															//- span.ql-formats
															//- 	button.ql-header(value='1')
															//- 	button.ql-header(value='2')
															//- 	button.ql-blockquote
															//- 	button.ql-code-block
															span.ql-formats
																button.ql-list(value='ordered')
																button.ql-list(value='bullet')
																//- button.ql-indent(value='-1')
																//- button.ql-indent(value='+1')
																select.ql-align
															//- span.ql-formats
															//- 	button.ql-direction(value='rtl')
															span.ql-formats
																button.ql-link
																button.ql-image
																button.ql-code-block
																//- button.ql-video
																//- button.ql-formula
															span.ql-formats
																button.ql-clean
														#editor
												.project-form__btn
													+link('#',"").btn-com.--save
														i.fa-regular.fa-floppy-disk
														| SAVE

								.project-profile__item
									.project-profile__topic 
										.project-profile__ttl Project operations
										p.project-profile__txt Here you can archive or delete project
									.project-profile__detail
										.project-operate
											.project-tools
												.project-tools__list
													.project-tools__item 
														+link('#',"").project-tools__link
															.project-tools__icon
																i.fa-solid.fa-inbox
															.project-tools__txt
																span ARCHIVE PROJECT
													.project-tools__item 
														+link('#',"").project-tools__link.--remove
															.project-tools__icon
																i.fa-solid.fa-trash-can
															.project-tools__txt
																span DELETE PROJECT
block script 
	script.
		const quill = new Quill('#editor', {
			modules: {
			syntax: true,
			toolbar: '#toolbar-container',
			},
			placeholder: '',
			theme: 'snow',
		});