extends layout/layout

block vars
	-title = 'HS160 page'
	-bodyClass = 'target-page'

block container
	.dashboard
		.dashboard__content
			.header-app
				.header-app__left
					ul.header-app__list
						li.header-app__item
							+link('#',"").header-app__link
								span.header-app__icon
									i.fa-solid.fa-chevron-left
						li.header-app__item
							+link('#',"").header-app__link
								span.header-app__icon
									i.fa-solid.fa-chevron-right
						li.header-app__item
							+link('#',"").header-app__link
								span.header-app__icon
									i.fa-sharp.fa-solid.fa-rotate-right
						li.header-app__item
							+link('#',"").header-app__link
								span.header-app__icon
									i.fa-solid.fa-list
					.header-app__dropdown
						.dropdown
							.dropdown__tool
								.dropdown__bar
									span.dropdown__txt
										| Facebook Profile 18/17
									i.fa-sharp.fa-solid.fa-caret-down
								ul.dropdown__list
									li.dropdown__item.--is-select choose01
									li.dropdown__item choose02
				.header-app__right
					.header-app__zoom
						+link('#',"").header-app__zoom-link
							span.header-app__zoom-icon
								i.fa-solid.fa-magnifying-glass-minus
						span.header-app__zoom-percent 100%
						+link('#',"").header-app__zoom-link
							span.header-app__zoom-icon
								i.fa-solid.fa-magnifying-glass-plus
					.header-app__language 
						| EN
						span.header-app__language-dot
						| DE 
					ul.header-app__notify
						li.header-app__notify-item
							+link('#',"").header-app__notify-link
								span.header-app__notify-icon
									i.fa-solid.fa-download
						li.header-app__notify-item
							+link('#',"").header-app__notify-link
								span.header-app__notify-icon
									i.fa-solid.fa-bell
						li.header-app__notify-item
							+link('#',"").header-app__notify-link
								span.header-app__notify-icon
									i.fa-solid.fa-gear
					ul.header-app__windown
						li.header-app__windown-item
							+link('#',"").header-app__windown-link
								span.header-app__windown-icon
									i.fa-solid.fa-window-minimize
						li.header-app__windown-item
							+link('#',"").header-app__windown-link
								span.header-app__windown-icon
									i.fa-solid.fa-window-restore
						li.header-app__windown-item
							+link('#',"").header-app__windown-link
								span.header-app__windown-icon
									i.fa-solid.fa-xmark
				
			.menu-app
				.menu-app__left
					.menu-app__ttl Facebook Profile
					ul.menu-app__list
						li.menu-app__item
							+link('#',"").menu-app__link
								span.menu-app__icon
									i.fa-solid.fa-circle-nodes
						li.menu-app__item
							+link('#',"").menu-app__link
								span.menu-app__icon
									i.fa-solid.fa-file-pdf
						li.menu-app__item
							+link('#',"").menu-app__link
								span.menu-app__icon
									i.fa-solid.fa-file-export
						li.menu-app__item
							+link('#',"").menu-app__link
								span.menu-app__icon
									i.fa-solid.fa-file-export
				.menu-app__center
					.menu-app__search
						.form-search
							i.fa-solid.fa-magnifying-glass
							input.form-control(name='search' type='text' placeholder='Search...')
					.menu-app__select 
						.dropdown
							.dropdown__tool
								.dropdown__bar
									span.dropdown__txt
										| Select an Alert Instal
									i.fa-solid.fa-chevron-down
								ul.dropdown__list
									li.dropdown__item.--is-select choose01
									li.dropdown__item choose02
				.menu-app__right 
					ul.menu-app__list
						li.menu-app__item
							+link('#',"").menu-app__link
								span.menu-app__number 0
								span.menu-app__icon
									i.fa-solid.fa-users-viewfinder
						li.menu-app__item
							+link('#',"").menu-app__link
								span.menu-app__icon
									i.fa-solid.fa-bars-progress
						li.menu-app__item
							+link('#',"").menu-app__link
								span.menu-app__icon
									i.fa-solid.fa-tags
						li.menu-app__item
							+link('#',"").menu-app__link
								span.menu-app__icon
									i.fa-solid.fa-screwdriver-wrench
			.profile(data-heightSidebar)
				.profile__sidebar.sidebar
					ul.sidebar__nav
						li.sidebar__item
							+link('#',"").sidebar__link
								.sidebar__info
									span.sidebar__icon
										i.fa-solid.fa-house
						li.sidebar__item
							+link('#',"").sidebar__link
								.sidebar__info
									span.sidebar__icon
										i.fa-solid.fa-cloud-arrow-down
						li.sidebar__item
							+link('#',"").sidebar__link.active
								.sidebar__info
									span.sidebar__icon
										i.fa-solid.fa-user-group
									span.sidebar__number 46
						li.sidebar__item
							+link('#',"").sidebar__link
								.sidebar__info
									span.sidebar__icon
										i.fa-solid.fa-book
									span.sidebar__number 46
						li.sidebar__item
							+link('#',"").sidebar__link
								.sidebar__info
									span.sidebar__icon
										i.fa-solid.fa-photo-film
									span.sidebar__number 74
						li.sidebar__item
							+link('#',"").sidebar__link
								.sidebar__info
									span.sidebar__icon
										i.fa-solid.fa-message
									span.sidebar__number 0
						li.sidebar__item
							+link('#',"").sidebar__link
								.sidebar__info
									span.sidebar__icon
										i.fa-solid.fa-comments
									span.sidebar__number 0
						li.sidebar__item
							+link('#',"").sidebar__link
								.sidebar__info
									span.sidebar__icon
										i.fa-solid.fa-map-location-dot
									span.sidebar__number 2
						li.sidebar__item
							+link('#',"").sidebar__link
								.sidebar__info
									span.sidebar__icon
										i.fa-solid.fa-gauge
				.profile__content.active.--full
					.report-data
						.report-data__head
							.report-data__head-left
								.report-menu
									ul.report-menu__list
										li.report-menu__item
											+link('#',"").report-menu__link
												span.report-menu__icon
													i.fa-solid.fa-arrow-left
										li.report-menu__item
											+link('#',"").btn-com
												i.fa-regular.fa-floppy-disk
												| SAVE REPORT
										li.report-menu__item
											.switch
												label.switch__btn
													input(type='checkbox' checked)
													span.switch__slider
												.switch__txt Auto Save
							.report-data__head-right
								.report-menu
									ul.report-menu__list
										li.report-menu__item
											+link('#',"").btn-com.--green
												i.fa-solid.fa-file-pdf
												| GRENRATE PDF
						.report-data__body
							.report-data__new
								.report-new
									.report-new__img
										form(action='' method='POST' enctype='multipart/form-data').upload-form(data-uploadForm)
											.upload-picture
												.upload-picture__picture
													+link('#popup-upload',"").popup-modal
														+img('images/home/img_report.jpg','PICTURE').upload-picture__img(data-uploadImg)
												.upload-picture__remove.trans(data-uploadRemove)
													i.fa-solid.fa-trash-can
												#popup-upload.popup-upload.popup-pool.mfp-hide
													h2.popup-ttl Select file
													.popup-upload__cont
														.upload-dropzone(data-uploadDropzone)
															.upload-dropzone__wrap
																label.upload-dropzone__area
																	input(type='file' class="upload-dropzone__file")
																	span.upload-dropzone__button
																		i.fa-solid.fa-cloud-arrow-up
																p.upload-dropzone__txt  
																	| click to upload<br>or<br>Drag file into this window


											//- h2.popup-ttl Select file
											//- 	.popup-upload__cont
											//- 		.upload-dropzone
											//- 			label.upload-dropzone__area
											//- 				input(type='file' class="upload-dropzone__file")
											//- 				span.upload-dropzone__button
											//- 					i.fa-solid.fa-cloud-arrow-up
											//- 			p.upload-dropzone__txt  
											//- 				| click to upload<br>or<br>Drag file into this window
									.report-new__info
										.report-new__ttl 
											h2.ttl-main 
												|New Report
											+link('#popup-report',"").report-new__edit.popup-modal
												i.fa-solid.fa-pen
											#popup-report.popup-pool.popup-report.mfp-hide
												.popup-close.js-popup-close.trans
													.fa-solid.fa-xmark
												h2.popup-ttl Change Report Data
												form(action='')
													.form-group
														.switch
															label.switch__btn
																input(type='checkbox' checked)
																span.switch__slider
															.switch__txt Print Cover Page*
													.form-group
														label.form-label(for='name') Name*
														input#name.form-control(name='name' type='text' placeholder='New Report')
													.form-group
														label.form-label(for='caseId') Case ID *
														input#caseId.form-control(name='caseId' type='text' placeholder='Case ID')
													.form-group
														label.form-label(for='author') Author *
														input#author.form-control(name='author' type='text' placeholder='Author Name')
													.form-group
														label.form-label(for='agency') Agency *
														input#agency.form-control(name='agency' type='text' placeholder='agency')
													.form-group
														label.form-label(for='agency') Date *
														.calendar
															.calendar__date
																.calendar__list
																	.calendar__item
																		span.calendar__day 12
																	.calendar__item
																		span.calendar__month 08
																	.calendar__item
																		span.calendar__year 2024
															.calendar__btn 
																.calendar__datepicker
																.calendar__icon.trans
																	i.fa-regular.fa-calendar
													.btn-popup
														.btn-popup__list
															.btn-popup__item
																+link('#',"").btn-com.--no-bg.js-popup-close
																	| CANCEL
															.btn-popup__item
																+link('#',"").btn-com.--green
																	i.fa-regular.fa-floppy-disk
																	|YES

										ul.report-new__list
											li.report-new__item
												.report-new__name Case ID
												.report-new__case
											li.report-new__item
												.report-new__name Author
												.report-new__case 
											li.report-new__item
												.report-new__name Agencey
												.report-new__case 
											li.report-new__item
												.report-new__name Date
												.report-new__case 12.08.2024
									.report-new__topic Navigation
							.report-data__main
								.report-data__btn
									+link('#',"").btn-com
										i.fa-solid.fa-file-circle-plus
										| ADD SECION
									
							.report-data__widgets
								.report-widget
									.ttl-normal Available Widgets
									.report-widget__form
										form(action='')
											.form-group
												.form-search
													i.fa-solid.fa-magnifying-glass
													input.form-control(name='search' type='text' placeholder='Search...')
											.form-group
												.report-widget__select
													.report-widget__select-network
														.dropdown
															.dropdown__tool
																.dropdown__bar
																	span.dropdown__name Network
																	i.fa-solid.fa-chevron-up
																ul.dropdown__list
																	li.dropdown__item.--is-select choose01
																	li.dropdown__item choose02
													.report-widget__select-widget
														.dropdown
															.dropdown__tool
																.dropdown__bar
																	span.dropdown__name Select Widget Type
																ul.dropdown__list
																	li.dropdown__item.--is-select choose01
																	li.dropdown__item choose02
											.btn-group
												.btn-group__item
													+link('#',"").btn-com
														i.fa-regular.fa-circle-check
														| ENABLE SELECTION
									.report-state 
										ul.report-state__list
											li.report-state__item 
												.report-state__box 
													.report-state__ttl 
														|Analytics Sheet State
														+link('#popup-confirm',"").report-state__delete.popup-modal
															i.fa-solid.fa-trash-can
														#popup-confirm.popup-pool.mfp-hide
															.popup-close.js-popup-close.trans
																.fa-solid.fa-xmark
															h2.popup-ttl Confirmation
															.popup-pool__wraning
																.popup-pool__wraning-icon 
																	i.fa-solid.fa-triangle-exclamation
																| Are you sure you want to remove the crawling profile?
															.btn-popup
																.btn-popup__list
																	.btn-popup__item
																		+link('#',"").btn-popup__link.js-popup-close
																			i.fa-solid.fa-xmark
																			|NO
																	.btn-popup__item
																		+link('#',"").btn-popup__link
																			i.fa-solid.fa-check
																			|YES

													.report-state__info
														+link('#',"").report-state__link 
															i.fa-solid.fa-diagram-project
														.report-state__detail
															.report-state__name New Sheet 
															.report-state__date 12.08.2024 12:02 GMT+7
											li.report-state__item 
												.report-state__box 
													.report-state__ttl 
														|Analytics Sheet State
														+link('#popup-confirm',"").report-state__delete.popup-modal
															i.fa-solid.fa-trash-can
													.report-state__info
														+link('#',"").report-state__link 
															i.fa-solid.fa-diagram-project
														.report-state__detail
															.report-state__name New Sheet 
															.report-state__date 12.08.2024 12:02 GMT+7
//- block script 