extends layout/layout

block vars
	-title = 'home page'
	-bodyClass = 'home-page'

block container
	ul
		li 
			+link('index.html',"index.html")(target="_blank").header-app__link
		li 
			+link('h7.html',"h7.html")(target="_blank").header-app__link
		//- li 
		//- 	+link('h67.html',"h67.html")(target="_blank").header-app__link
		li 
			+link('h80.html',"h80.html")(target="_blank").header-app__link
		li 
			+link('h129.html',"h129.html")(target="_blank").header-app__link
		li 
			+link('h140.html',"h140.html")(target="_blank").header-app__link
		li 
			+link('h147.html',"h147.html")(target="_blank").header-app__link
		//- li 
		//- 	+link('h152.html',"h152.html")(target="_blank").header-app__link
		li 
			+link('h160.html',"h160.html")(target="_blank").header-app__link
		li 
			+link('h163.html',"h163.html")(target="_blank").header-app__link
		li 
			+link('h163_02.html',"h163_02.html")(target="_blank").header-app__link
		li 
			+link('h214.html',"h214.html")(target="_blank").header-app__link
		li 
			+link('h215.html',"h215.html")(target="_blank").header-app__link
		li 
			+link('h216.html',"h216.html")(target="_blank").header-app__link
		li 
			+link('popup-post.html',"popup-post.html")(target="_blank").header-app__link
		li 
			+link('popup-profile.html',"popup-profile.html")(target="_blank").header-app__link